.login-body{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-login{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/img/banners/login.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}